<ion-view title="Dashboard">
    <ion-nav-buttons side="left"> 
        <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right"> 
        <button menu-close="" class="button button-icon icon ion-ios-bell" ng-click="popover.show($event)" ng-model="data.numberOfNotifications">{{data.numberOfNotifications > 0 ? data.numberOfNotifications :' ' }}</button>
    </ion-nav-buttons>
    <ion-content padding="'true'" class="has-header has-footer">
        <div class="list card">
            <div class="item item-balanced item-divider">Alerts</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item menu-close="">Item 1</ion-item>
                    <ion-item menu-close="">Item 2</ion-item>
                    <ion-item menu-close="">Item 3</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <div class="list card">
            <div class="item item-balanced item-divider">Open Jobs</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item menu-close="">Item 1</ion-item>
                    <ion-item menu-close="">Item 2</ion-item>
                    <ion-item menu-close="">Item 3</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <div class="list card">
            <div class="item item-balanced item-divider">Current Balance</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item menu-close="">Item 1</ion-item>
                    <ion-item menu-close="">Item 2</ion-item>
                    <ion-item menu-close="">Item 3</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>