<ion-view title="Login to SubContraX">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="userEmail">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Enter your email">
                </label>
                <label class="item item-input" name="userPassword">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Enter your Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a menu-close="" href="#/tabsCtrl/dashboard" class="button button-positive button-block button-large">Log in</a>
            <a menu-close="" href="#/signUp" class="button button-balanced button-clear button-block button-large">Or create an Account</a>
        </form>
    </ion-content>
</ion-view>