<ion-view title="Signup To SubContraX ">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <h3>Free Sign Up</h3>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Enter your Email ">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Enter a Password">
                </label>
            </ion-list>
            <button class="button button-balanced button-block button-large">Sign up</button>
        </form>
        <a menu-close="" href="#/login" class="button button-positive button-block button-large icon-right ">I have an Account</a>
    </ion-content>
</ion-view>